<div class="container">
  <div id="player-wrapper"></div>
</div>

<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@clappr/player@latest/dist/clappr.min.js"
>
</script>

<script>
  var playerElement = document.getElementById("player-wrapper");

  var player = new Clappr.Player({
    source: {{ .Get 0 }},
      mute: {{ .Get 1 }},
    height: 360,
    width: 640
  });

  player.attachTo(playerElement);
</script>
